:root {
  --primary-color: #4b2626;
  --booked-color: #e74c3c;
  --todaysDate-color: #2ecc71;
  --background-light: #f8f9fa;
  --text-color: #fff;
  --background-color: #230000;
  --mainContent-color: #361515;
  --title-color: #fff;
  --border-color: #ccc;
}

@font-face {
  font-family: "Gothic";
  src: url("../fonts/Alice.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Gothic, sans-serif;
  background-color: var(--background-color);
}
