:root {
  --primary-color: #4b2626;
  --booked-color: #e74c3c;
  --available-color: #2ecc71;
  --background-light: #f8f9fa;
  --text-color: #fff;
  --currentDate-color: #000;
  --background-color: #230000;
  --mainContent-color: #361515;
  --title-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  z-index: -1;
}

.navHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
  max-width: 1200px;
  height: 120px;
  margin: 0 auto;
  background-color: var(--primary-color);
}

h2 {
  color: var(--title-color);
  font-size: 4em;
  margin-left: 75px;
}

main {
  background-color: var(--mainContent-color);
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
  max-width: 1200px;
}

.roomsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 1200px;
  width: 88%;
  margin: 20px 70px;
}

.room {
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);;
  background-color: var(--primary-color);
  border-radius: 20px;
  overflow: hidden;
}

.room-content {
  color: var(--text-color);
  font-size: 0.8rem;
  padding: 0px 15px 15px 15px;
}

.room h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.room img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.calendar {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin: 0 auto;
}

.today {
  border: 2px solid var(--currentDate-color);
}

.calendarContainer {
  max-width: 1200px;
  width: 27%;
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.calendarTitle {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 2% 0;
  font-size: 1vw;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  background-color: #e0e0e0;
}

.calendarHeader {
  background-color: var(--background-light);
  font-weight: bold;
  text-align: center;
  padding: 1.5% 0;
  font-size: 1.2vw;
}

.calendarDay {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 1vw;
}

.calendarDay:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.dayBooked {
  background-color: var(--booked-color);
  color: white;
}

.dayAvailable {
  background-color: var(--available-color);
  color: white;
}

.dayEmpty {
  background-color: #f4f4f4;
}
